.weather-display {
  width: 500px;
  padding: 50px;
  width: 500px;
  border: 2px solid black;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.flex-item {
  margin-bottom: 10px;
  font-family: Verdana, Tahoma, sans-serif
}

#current-temp {
  font-size: 3rem;
}

#time {
  font-size: 1.5rem;
}

#forecast-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-location {
  background-color: rgb(230, 230, 233);
  border-radius: 4px;
  padding: 3px 10px;
}

.search-button {
  background-color: rgb(230, 230, 233);
  border-radius: 4px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 20px;
}

.grid-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 300px;
  width: 300px;
  border: 2px solid black;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: max(50%, 820px);
  padding: 50px;
  margin: 0 auto;
}

.slides {
  display: none;
}
